/* Estilos generales */
body {
    background-image: url(https://i.postimg.cc/5yCshW5V/7e2a0f50-tipos-de-seguridad-informatica.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 10);

}