/* Estilos generales */
body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-digital-puntos-lineas-conexion_23-2148821703.jpg?w=1380&t=st=1694220604~exp=1694221204~hmac=5c00d3406876311e24406e54b1cc80b02c42a550535640ac7a283e6b26279a5e);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;

}